.frame {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.schema {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: #1c1e23;
}

.centralViewport {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chartView {
  padding: 5px;
  flex: 2;
  display: flex;
  min-height: 140px;
}

.chips {
  min-width: 100px;
  max-width: 100px;
  width: 100px;
  margin: 5px;
  border: 1px solid white;
}
