.frame {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.schema {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-color: #1c1e23;
}

.centralViewport {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chips {
  min-width: 100px;
  max-width: 100px;
  width: 100px;
  margin: 5px;
  border: 1px solid white;
}
