.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #111;
  height: 25px;
  min-height: 25px;
  max-height: 25px;
  padding: 0 20px 0 20px;
  z-index: 100;
}

.aStyle {
  display: flex;
  align-items: center;
  height: 100%;
}

.imgStyle {
  height: 70%;
}

.textStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 70%;
}

.footer,
.text,
.logo {
  background-color: #313641;
}
