.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #111;
  height: 47px;
  min-height: 47px;
  max-height: 47px;
  padding: 0 20px 0 20px;
  z-index: 100;
}

.headerColor,
.header {
  background-color: #313641;
}
