/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 * example @import "~@fortawesome/fontawesome-free/css/all.css";
 */

@import '~typeface-roboto/index.css';

html,
body {
  height: 100%;
  margin: 0;
  color: white;
  font-family: Roboto, sans-serif;
  overflow-y: hidden;
  background-color: #1c1e23;
}

::-webkit-scrollbar {
  display: none;
}

body > div {
  height: 100%;
  display: flex;
}

.chartjs-render-monitor {
  width: 100% !important;
}

.xterm {
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  cursor: text;
  flex: 1;
  display: flex;
  padding: 10px;
}

.xterm.focus,
.xterm:focus {
  outline: none;
}

.xterm-helpers {
  position: absolute;
  top: 0;

  /**
     * The z-index of the helpers must be higher than the canvases in order for
     * IMEs to appear on top.
     */
  z-index: 10;
}

.xterm-helper-textarea {
  /*
     * HACK: to fix IE's blinking cursor
     * Move textarea out of the screen to the far left, so that the cursor is not visible.
     */
  position: absolute;
  opacity: 0;
  left: -9999em;
  top: 0;
  width: 0;
  height: 0;
  z-index: -10;

  /** Prevent wrapping so the IME appears against the textarea at the correct position */
  white-space: nowrap;
  overflow: hidden;
  resize: none;
}

.composition-view {
  /* TODO: Composition position got messed up somewhere */
  background: #000;
  color: #fff;
  display: none;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
}

.composition-view.active {
  display: block;
}

.xterm-viewport {
  /* On OS X this is required in order for the scroll bar to appear fully opaque */
  overflow-y: scroll;
  cursor: default;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 10px;
}

.xterm-screen {
  position: relative;
  width: auto !important;
  height: auto !important;
  flex: 1;
  display: flex;
}

.xterm-text-layer,
.xterm-selection-layer,
.xterm-link-layer,
.xterm-cursor-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100% !important;
  height: 100% !important;
}

.xterm-scroll-area {
  visibility: hidden;
}

.xterm-char-measure-element {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -9999em;
  line-height: normal;
}

.xterm.enable-mouse-events {
  /* When mouse events are enabled (eg. tmux), revert to the standard pointer cursor */
  cursor: default;
}

.xterm.xterm-cursor-pointer {
  cursor: pointer;
}

.xterm.xterm-cursor-crosshair {
  /* Column selection mode */
  cursor: crosshair;
}

.xterm-accessibility,
.xterm-message {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  color: transparent;
}

.live-region {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
