/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 * example @import "~@fortawesome/fontawesome-free/css/all.css";
 */

@import '~typeface-roboto/index.css';

html,
body {
  height: 100%;
  margin: 0;
  color: white;
  font-family: Roboto, sans-serif;
  overflow-y: hidden;
  background-color: #1c1e23;
}

body > div {
  height: 100%;
  display: flex;
}

.chartjs-render-monitor {
  width: 100% !important;
}
